<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <style>
        @property --rotate {
            syntax: "<angle>";
            initial-value: 132deg;
            inherits: false;
        }

        :root {
            --card-height: 45vh;
            --card-width: calc(var(--card-height) / 1.5);
        }


        body {
            min-height: 100vh;
            background: #212534;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 2rem;
            padding-bottom: 2rem;
            box-sizing: border-box;
            color: #fff !important;
        }


        .card {
            background: #191c29;
            width: var(--card-width);
            height: var(--card-height);
            padding: 3px;
            position: relative;
            border-radius: 6px;
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            font-size: 1.5em;
            color: rgb(88 199 250 / 0%);
            cursor: pointer;
            font-family: cursive;
            color: #fff;
        }


        .card::before {
            content: "";
            width: 104%;
            height: 102%;
            border-radius: 8px;
            background-image: linear-gradient(
                    var(--rotate)
                    , #5ddcff, #3c67e3 43%, #4e00c2);
            position: absolute;
            z-index: -1;
            top: -1%;
            left: -2%;
            animation: spin 2.5s linear infinite;
        }

        .card::after {
            position: absolute;
            content: "";
            top: calc(var(--card-height) / 6);
            left: 0;
            right: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            transform: scale(0.8);
            filter: blur(calc(var(--card-height) / 6));
            background-image: linear-gradient(
                    var(--rotate)
                    , #5ddcff, #3c67e3 43%, #4e00c2);
            opacity: 1;
            transition: opacity .5s;
            animation: spin 2.5s linear infinite;
        }

        @keyframes spin {
            0% {
                --rotate: 0deg;
            }
            100% {
                --rotate: 360deg;
            }
        }
        a {
            color: #fff;
            text-decoration: none;
            font-family: sans-serif;
            font-weight: bold;
            margin-top: 2rem;
        }
        li{
            color: #fff;
        }
        .nav{
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            size: 30px;
            width: 100%;
            height: 80px;
            background-color: #11171e;
        }
        .truenav{
            display: flex;
            flex-direction: row;
            gap: 30px;
        }
        .pp{
            width: 200px;
            height: auto;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            gap: 80px;
        }
    </style>
    <nav class="nav">
        <div>
            <h1>ELECTRO</h1>
        </div>
        <div class="truenav">
            <a href="{{ path('app_logout') }}">LogOut</a>
            <a href="{{ path('app_app') }}">Category</a>
            <a href="#">Mon Panier</a>
        </div>
    </nav>

        {% block body %}{% endblock %}

    </body>
</html>
